
input[type ="file"]{
    display : none;
}

.name{
    font-family: verdana;
    font-size: 2rem;
}

.email{
    font-family: verdana;
    font-size: 1rem;
}

.profile{
    display: block;
    width: 100px;
    height: 100px;
}